# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df=pd.read_csv("countries_data.csv")
len(df)

533

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Configure gmaps.
fig = gmaps.figure()
#Use the Lat and Lng as locations and Humidity as the weight.
locations = df[["lat", "lon"]]
rating = df["humidity"].astype(float)
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = rating,
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
                                
#Add Heatmap layer to map.
fig.add_layer(heat_layer)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#Narrow down the cities to fit weather conditions.
df2 = df.loc[(df["MTemp"]> 277.15) & (df["MTemp"]< 280.00), :]
df2

,name,country,lat,lon,MTemp,humidity,cloudinnes,windspeed,date
7,Mar del Plata,AR,-38.00,-57.56,279.26,86,0,3.10,1600062764
92,Barrow,US,71.29,-156.79,278.15,86,90,6.20,1600062723
136,Dikson,RU,73.51,80.55,278.37,93,100,9.65,1600062881
144,Iqaluit,CA,63.75,-68.51,278.15,65,90,4.60,1600062889
154,Matagami,CA,49.75,-77.63,279.15,93,90,5.70,1600062898
201,Fort Nelson,CA,58.81,-122.70,278.15,80,90,1.00,1600062940
204,Pevek,RU,69.70,170.31,279.66,80,100,4.97,1600062942
324,Grindavik,IS,63.84,-22.43,279.15,87,75,3.60,1600063042
332,Lavrentiya,RU,65.58,-171.00,279.09,93,100,6.02,1600063048
333,Leningradskiy,RU,69.38,178.42,278.51,80,100,4.18,1600063049
480,Whitehorse,CA,60.72,-135.05,278.15,56,20,3.10,1600063149
525,Haileybury,CA,47.45,-79.64,279.15,87,1,3.60,1600063180

In [5]:
#lok for null values
#its  any rows will null values. 
df2.loc[df2["humidity"].isnull()]

Empty DataFrame
Columns: [name, country, lat, lon, MTemp, humidity, cloudinnes, windspeed, date]
Index: []

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#Store into variable named hotel_df.
hotel_list = []
hotel_df = df2
for index, row in hotel_df.iterrows():

    
    
    
    #Set parameters to search for hotels with 5000 meters.
    parameters = {
        "location": f"{row['lat']}, {row['lon']}",
        "radius": 5000,
        "keyword": "hotel",
        "key": g_key
        
    }
    
    #Hit the Google Places API for each city's coordinates.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=parameters)
    jsn = requested.json()
    #Store the first Hotel result into list.
    
    try:
        name = jsn['results'][0]['name']
        hotel_list.append(name)
    
    except:
        hotel_list.append("NA")

hotel_list

['Altos de Güemes Hotel',
 'Top of the World Hotel',
 'NA',
 'Frobisher Inn',
 'Hôtel Matagami',
 'Woodlands Inn & Suites',
 "Munitsipal'naya Gostinitsa",
 'Harbour View',
 'NA',
 'NA',
 'Best Western Gold Rush Inn',
 'Haileybury Beach Motel']

In [7]:
# add the new column
hotel_df["Hotel_Name"] = hotel_list

<ipython-input-7-8cf36b284df4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel_Name"] = hotel_list

In [8]:
#drop "NA"
hotel_df = hotel_df[hotel_df.Hotel_Name != "NA"]
hotel_df

,name,country,lat,lon,MTemp,humidity,cloudinnes,windspeed,date,Hotel_Name
7,Mar del Plata,AR,-38.00,-57.56,279.26,86,0,3.10,1600062764,Altos de Güemes Hotel
92,Barrow,US,71.29,-156.79,278.15,86,90,6.20,1600062723,Top of the World Hotel
144,Iqaluit,CA,63.75,-68.51,278.15,65,90,4.60,1600062889,Frobisher Inn
154,Matagami,CA,49.75,-77.63,279.15,93,90,5.70,1600062898,Hôtel Matagami
201,Fort Nelson,CA,58.81,-122.70,278.15,80,90,1.00,1600062940,Woodlands Inn & Suites
204,Pevek,RU,69.70,170.31,279.66,80,100,4.97,1600062942,Munitsipal'naya Gostinitsa
324,Grindavik,IS,63.84,-22.43,279.15,87,75,3.60,1600063042,Harbour View
480,Whitehorse,CA,60.72,-135.05,278.15,56,20,3.10,1600063149,Best Western Gold Rush Inn
525,Haileybury,CA,47.45,-79.64,279.15,87,1,3.60,1600063180,Haileybury Beach Motel

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel_Name}</dd>
<dt>City</dt><dd>{name}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lon"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))